// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "../bootstrap/stylesheets/_bootstrap";

html, body{
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}

body{
  overflow: hidden;
}

.work.songs{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.navbar-header__monogram{
  height: 100%;
  width: 60px;
}

.work__text{
  @include make-md-column(4);

  .para{
    max-height: 0px;
    overflow:hidden;
  }
}

.work__images{
  @include make-md-column(8);

  img{
    display: block;
    width: 100%;
    height: auto;
  }
}
