<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wizard Anims</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<h1>This is the about page!</h1>


<!-- <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script> -->
<script src="TweenMax.min.js"></script>
<script src="easing/CustomEase.min.js"></script>
<script src="plugins/MorphSVGPlugin.min.js"></script>

<script src="player.js">

</script>
</body>
</html>
