.svg-wrapper{
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 100px;
  position:relative;
}

svg{
  position:absolute;
  width: 300px;
  top: -160px;

}

body{
  background: #e91e63;
}
