<% include partials/header.html.ejs %>

    <!-- *** MASTHEAD *** -->

    <section class="masthead">

      <div class="logo">Robert Thwaites: UX and Digital Designer</div>

    </section>

    <!-- *** MENU *** -->

    <section class"menu">

      <div class="menu__contact-info">
        <a tel="+61403899183">+61 403 899 183</a>
        <a href="mailto:rob@robthwaites.com">rob@robthwaites.com</a>
      </div>

      <div class="menu__main-links">
        <a href="#">About</a>
        <a href="#">Works</a>
      </div>

      <div class="menu__social-links">
        <a href="https://twitter.com/rpthwaites">Twitter</a>
        <a href="https://www.linkedin.com/in/robert-thwaites-66058046/">LinkedIn</a>
      </div>

    </section>

    <section class="work__bookend work__bookend--active">

      <div class="work__bookend__index-number">09</div>
      <div class="work__bookend__tags">
        <a href="">U</a>
        <a href="">D</a>
        <a href="">F</a>
      </div>
      <h1 class="work__bookend__title">The Playground: Reporting Interface</h1>
      <h2 class="client">Playground XYZ</h2>
      <p class="work__bookend__description">Accurate and engaging presentation of campaign data for advertisers</p>

    </section>

    <section class="work__bookend work__bookend">

      <div class="work__bookend__index-number">08</div>
      <div class="work__bookend__tags">
        <a href="">U</a>
        <a href="">D</a>
        <a href="">F</a>
      </div>
      <h1 class="work__bookend__title">Title</h1>
      <h2 class="client">Client</h2>
      <p class="work__bookend__description">Description lorem ipsum dolor sit amet</p>

    </section>


    <section class="work__bookend work__bookend">

      <div class="work__bookend__index-number">07</div>
      <div class="work__bookend__tags">
        <a href="">U</a>
        <a href="">D</a>
        <a href="">F</a>
      </div>
      <h1 class="work__bookend__title">Title</h1>
      <h2 class="client">Client</h2>
      <p class="work__bookend__description">Description lorem ipsum dolor sit amet</p>

    </section>


    <section class="work__bookend work__bookend">

      <div class="work__bookend__index-number">06</div>
      <div class="work__bookend__tags">
        <a href="">U</a>
        <a href="">D</a>
        <a href="">F</a>
      </div>
      <h1 class="work__bookend__title">Title</h1>
      <h2 class="client">Client</h2>
      <p class="work__bookend__description">Description lorem ipsum dolor sit amet</p>

    </section>


    <section class="work__bookend work__bookend">

      <div class="work__bookend__index-number">05</div>
      <div class="work__bookend__tags">
        <a href="">U</a>
        <a href="">D</a>
        <a href="">F</a>
      </div>
      <h1 class="work__bookend__title">Title</h1>
      <h2 class="client">Client</h2>
      <p class="work__bookend__description">Description lorem ipsum dolor sit amet</p>

    </section>


    <section class="work__bookend work__bookend">

      <div class="work__bookend__index-number">04</div>
      <div class="work__bookend__tags">
        <a href="">U</a>
        <a href="">D</a>
        <a href="">F</a>
      </div>
      <h1 class="work__bookend__title">Title</h1>
      <h2 class="client">Client</h2>
      <p class="work__bookend__description">Description lorem ipsum dolor sit amet</p>

    </section>


    <section class="work__bookend work__bookend">

      <div class="work__bookend__index-number">03</div>
      <div class="work__bookend__tags">
        <a href="">U</a>
        <a href="">D</a>
        <a href="">F</a>
      </div>
      <h1 class="work__bookend__title">Title</h1>
      <h2 class="client">Client</h2>
      <p class="work__bookend__description">Description lorem ipsum dolor sit amet</p>

    </section>


    <section class="work__bookend work__bookend">

      <div class="work__bookend__index-number">02</div>
      <div class="work__bookend__tags">
        <a href="">U</a>
        <a href="">D</a>
        <a href="">F</a>
      </div>
      <h1 class="work__bookend__title">Title</h1>
      <h2 class="client">Client</h2>
      <p class="work__bookend__description">Description lorem ipsum dolor sit amet</p>

    </section>


    <section class="work__bookend work__bookend">

      <div class="work__bookend__index-number">01</div>
      <div class="work__bookend__tags">
        <a href="">U</a>
        <a href="">D</a>
        <a href="">F</a>
      </div>
      <h1 class="work__bookend__title">Title</h1>
      <h2 class="client">Client</h2>
      <p class="work__bookend__description">Description lorem ipsum dolor sit amet</p>

    </section>





<% include partials/footer.html.ejs %>
