<% include partials/header.html.ejs %>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <section class="work songs">
        <div class="container">
            <div class="row">

                <div class="work__text">
                    <article class="work__text__challenge">
                        <h2>The Challenge</h2>
                        <div class="para">
                            <p>Volutpat suspendisse parturient sodales ac fusce vulputate mollis egestas felis parturient vestibulum quis aenean iaculis sociosqu varius dui consequat a ante vestibulum faucibus ad vehicula.</p>
                            <p>Turpis eu praesent class augue a consequat vehicula purus facilisis curae placerat a adipiscing potenti a eleifend at placerat fringilla dui erat hendrerit parturient a viverra vivamus vestibulum.</p>
                            <p>A dis imperdiet risus montes a suspendisse ad vulputate eleifend parturient natoque conubia consectetur vitae per morbi ac amet nec eros velit.</p>
                        </div>
                    </article>
                    <article class="work__text__solution">
                        <h2>The Solution</h2>
                        <div class="para">
                            <p>Volutpat suspendisse parturient sodales ac fusce vulputate mollis egestas felis parturient vestibulum quis aenean iaculis sociosqu varius dui consequat a ante vestibulum faucibus ad vehicula.</p>
                            <p>Turpis eu praesent class augue a consequat vehicula purus facilisis curae placerat a adipiscing potenti a eleifend at placerat fringilla dui erat hendrerit parturient a viverra vivamus vestibulum.</p>
                            <p>A dis imperdiet risus montes a suspendisse ad vulputate eleifend parturient natoque conubia consectetur vitae per morbi ac amet nec eros velit.</p>
                        </div>
                    </article>
                    <article class="work__text__process">
                        <h2>The Process</h2>
                        <div class="para">
                            <p>Volutpat suspendisse parturient sodales ac fusce vulputate mollis egestas felis parturient vestibulum quis aenean iaculis sociosqu varius dui consequat a ante vestibulum faucibus ad vehicula.</p>
                            <p>Turpis eu praesent class augue a consequat vehicula purus facilisis curae placerat a adipiscing potenti a eleifend at placerat fringilla dui erat hendrerit parturient a viverra vivamus vestibulum.</p>
                            <p>A dis imperdiet risus montes a suspendisse ad vulputate eleifend parturient natoque conubia consectetur vitae per morbi ac amet nec eros velit.</p>
                        </div>
                    </article>

                </div>

                <div class="work__images">
                    <div class="work__images--challenge">
                        <img src="http://placehold.it/1280x920" alt="">
                        <img src="http://placehold.it/1280x920" alt="">
                        <img src="http://placehold.it/1280x920" alt="">
                    </div>

                    <div class="work__images--solution">
                        <img src="http://placehold.it/1280x920/ff9900" alt="">
                        <img src="http://placehold.it/1280x920/ff9900" alt="">
                        <img src="http://placehold.it/1280x920/ff9900" alt="">
                    </div>

                    <div class="work__images--process">
                        <img src="http://placehold.it/1280x920/ff0000" alt="">
                        <img src="http://placehold.it/1280x920/ff0000" alt="">
                        <img src="http://placehold.it/1280x920/ff0000" alt="">
                    </div>

                </div>

            </div>
        </div>

        </div>

        <% include partials/footer.html.ejs %>
