<% include partials/header.html.ejs %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div>
      <button id="load-content">Load Content</button>
    </div>
    <section id="work" class="work">
        <div class="container">
            <div class="row">
              <!--  content goes here -->
            </div>
        </div>

        </div>

        <% include partials/footer.html.ejs %>
